<%- include('partials/head') %> 
<body>
    <%- include('partials/navbar') %> 
    <div class="spinner-grow" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <h1>Home Page <%= num %> </h1>
    <%- include('partials/form') %> 
   
</body>
